* {
  font-family: sans-serif;
}

.card-list {
  display: grid;
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  justify-content: space-between;
  animation: fade-in 500ms;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.75);
}

.card-done > *:not(.done) {
  animation: blur 500ms;
  animation-fill-mode: forwards;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title {
  color: rgb(189, 189, 189);
  font-size: 20px;
}

.card-text {
  border: 0;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  resize: none;
}

.card-text:focus-visible {
  outline: unset;
}

.controls {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 30px auto;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-save {
  width: 40%;
  padding: 10px;
  background-color: rgb(69 142 54);
  border-radius: 5px;
  border: unset;
  color: #ffffff;
  font-size: 16px;
  font-family: fantasy;
  letter-spacing: 2px;
  cursor: pointer;
}

.button-done {
  width: 40%;
  padding: 10px;
  background-color: rgb(97, 100, 238);
  border-radius: 5px;
  border: unset;
  color: #ffffff;
  font-size: 16px;
  font-family: fantasy;
  letter-spacing: 2px;
  cursor: pointer;
}

.card-save-disable,
.button-done-disable {
  background-color: rgb(105, 105, 105);
  cursor: not-allowed;
}

.icon {
  cursor: pointer;
}

.add {
  background-color: green;
  color: #ffffff;
  padding: 15px;
  border-radius: 50%;
}

.clear {
  background-color: rgb(145, 10, 10);
  color: #ffffff;
  padding: 15px;
  border-radius: 50%;
}

.empty-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 18px;
}

.empty-content p {
  display: flex;
  align-items: center;
}
.empty-content .icon {
  margin-left: 10px;
}

.done {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.done-icon {
  color: green;
}

@media (min-width: 600px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .card-list,
  .controls {
    margin: 30px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(1px);
  }
}
